repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.4
  hooks:
    # Run the linter.
    - id: ruff
      types_or: [ python, pyi ]
      args: [--exit-non-zero-on-fix]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]